@model DrinkBuyer.Domain.Entities.Product

@{
    this.ViewBag.Title = "Admin: Edit " + this.Model.Name;
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Edit @this.Model.Name</h1>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @this.Html.EditorForModel()

    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImageData == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150" src="@this.Url.Action("GetImage", "Product", new { Model.ProductID })" alt="thumbnail"/>
        }
        <div>new image: <input type="file" name="Image" /></div>
    </div>
    <input type="submit" value="Save" />
    @this.Html.ActionLink("Cancel and return to List", "Index")
}